<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<Globals>
		<Global Name="ReportServer">ReportServerName</Global>
		<Global Name="ReportServerPath">ReportServer</Global>
		<Global Name="CollapsedHeight">0.5in</Global>
	</Globals>
	<ReportServers>
		<ReportServer Name="RS1" Protocol="http" Host="${ReportServer}" Path="${ReportServerPath}" Timeout="30" />
	</ReportServers>
	<DataSources>
		<DataSource Name="DataSource1" Publish="true" Overwrite="false" TargetFolder="WMPortal" ReportServer="RS1">
			<ConnectionString>data source=Server1;initial catalog=DB1</ConnectionString>
			<CredentialRetrieval>Store</CredentialRetrieval>
			<WindowsCredentials>False</WindowsCredentials>
			<UserName></UserName>
			<Password></Password>
		</DataSource>
		<DataSource Name="DataSource2" Publish="true" Overwrite="false" TargetFolder="WMPortal" ReportServer="RS1">
			<ConnectionString>data source=Server2;initial catalog=DB2</ConnectionString>
			<CredentialRetrieval>Store</CredentialRetrieval>
			<WindowsCredentials>False</WindowsCredentials>
			<UserName></UserName>
			<Password></Password>
		</DataSource>
	</DataSources>
	<Reports>
		<!-- Search Detail Reports -->
		<ReportGroup Name="SearchDetail" DataSourceName="DataSource1" TargetFolder="WMPortal/Detail/Search"
			ReportServer="RS1" CacheTime="10080">
			<Report Name="Search Summary">
				<FilePath>Detail\Search\Search Summary.rdl</FilePath>
			</Report>
			<Report Name="Top Internal Referrers" CollapsedHeight="${CollapsedHeight}">
				<FilePath>Detail\Search\Top Internal Referrers.rdl</FilePath>
			</Report>
		</ReportGroup>
		<!-- EventsErrors Detail Reports -->
		<ReportGroup Name="EventsErrorsDetail" DataSourceName="DataSource2" TargetFolder="WMPortal/Detail/EventsErrors"
			ReportServer="RS1" CacheTime="10080">
			<Report Name="Events and Errors Summary" CollapsedHeight="${CollapsedHeight}">
				<FilePath>Detail\EventsErrors\Events and Errors Summary.rdl</FilePath>
			</Report>
		</ReportGroup>
	</Reports>
	<DBExecutions>
        <DBExecution DataSourceName="DataSource1">
            <DBFilePath>SQL\Load\Search\Search.LOAD.sql</DBFilePath>
            <DBFilePath>SQL\Load\CachedMenus.LOAD.sql</DBFilePath>
        </DBExecution>
        -->
     </DBExecutions>
</Settings>